@page
@model Taskify.Pages.Todos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-striped table-hover align-middle">
    <thead class="table-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TodoItems[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TodoItems[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TodoItems[0].DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TodoItems[0].Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TodoItems[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TodoItems[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TodoItems[0].OwnerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TodoItems) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                    @switch (item.Priority)
                    {
                        case Models.TaskPriority.Low:
                            <span class="badge bg-success">Low</span>
                            break;
                        case Models.TaskPriority.Medium:
                            <span class="badge bg-warning text-dark">Medium</span>
                            break;
                        case Models.TaskPriority.High:
                            <span class="badge bg-danger">High</span>
                            break;
                    }
            </td>
            <td>
                    @switch (item.Status)
                    {
                        case Models.TaskStatus.Pending:
                            <span class="badge bg-secondary">Pending</span>
                            break;
                        case Models.TaskStatus.InProgress:
                            <span class="badge bg-info text-dark">In Progress</span>
                            break;
                        case Models.TaskStatus.Completed:
                            <span class="badge bg-success">Completed</span>
                            break;
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
